@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách sản phẩm
}
@section jsFooter{
    <script src="~/Assets/admin/js/controller/productController.js"></script><!--hiện phần quản lý ảnh bên dưới index produuct-->
   
}
<h1 class="h3 mb-0 text-gray-800 " style="margin-left: 20px;">Tables</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        <!--Search...........-->
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        <a type="submit" class="btn btn-primary" href="/Admin/Product/Create">Thêm mới</a>
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Tiêu đề</th>
                        <th>Hình ảnh </th>
                        <th>Ngày đăng</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">

                            <td>@item.Name</td>
                            <td><a><img src="@item.Images" alt="" style=" width: 100px; height: 100px;" /></a></td>
                            <td>@item.CreatedDate</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
                            <td>
                                <a href="#" data-id="@item.ID" class="btn-images">QL Ảnh</a>|
                                <a href="/Admin/Product/Edit/@item.ID">Sửa</a>|
                                @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                            {
                                //Xóa.............
                                Confirm = "Bạn có muốn xoá bản ghi này?",
                                OnComplete = "$('#row_" + @item.ID + "').remove()",
                                HttpMethod = "Delete"
                            })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>

                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </tfoot>
            </table>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="imagesManage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quản lý ảnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div id="imageList">

                </div>
                <div class="clear"></div>
                <input type="button" id="btnChooImages" class="btn btn-primary" value="Chọn Ảnh" style="width: 100px; margin-left: 15px;" />
                <input type="hidden" id="hiProductID" value="0" />
            </div>
            
            <div class="modal-footer">

                <button type="button" class="btn btn-success" id="btnSaveImages">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>